
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;1,300;1,900&display=swap');

body{
    margin-bottom:50px;
    background: #0f0f0f;
    font-size: 20px;
}

header {
  padding: 5px;
  text-align: center;
  background: #0f0f0f;
  color:white;
  font-size: 30px;
  font-family: 'Merriweather', serif;
}

.footer-site{
    height: 100px;
    position: fixed;
    background:#0f0f0f;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    color: white;
}


/* this is a comment*/

.col{
    float: left;
    width: 33.3%;
    background: #292929;
    color: white;
    text-align: center;
    height: auto;
    font-size: 18px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}


.portfolio-image{
    margin: auto;
}

.portfolio2-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
    padding-bottom: 0px;
}

nav ul {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
}

nav li {
  font-size: 1em;
  line-height: 40px;
  height: 40px;
  display: inline-block;
  font-family: 'Merriweather', serif;
  padding-left: 35px;
  padding-right: 35px;
  padding-bottom: 0px;
  padding-top: 0px;
  
}

nav a {
  text-decoration: none;
  color: white;
  display: block;
}

nav a:hover {
  background-color: #0f0f0f;
  color: white;
}
 

nav a:active {
  background-color: white;
  color: white;
}


.contact-content{
    text-align: center;
    padding-top: 200px;
    padding-bottom: 0px;

}